.imgTop{
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.outputExample{
  text-align: center;
  font-size: 200%;
  background-color: white;
}

.answer{
  padding: 10px;
  font-size: 200%;
  text-align: center;
}

h2{
  font-weight: bold;
  border-bottom: 3px solid gray;
  width: 30%;
  
  color: darkgray;
  
  background-color: white;
  border-radius: 10px;

  padding-bottom: 0;
  
  margin-top: 30px; !important

}

label{
  border: 5px solid lightgray;
  min-width: 125px; 
  
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    h2{
      width: 50%;
    }     
    label{
      min-width: 75px;
    } 
    
    .imgLeftAnswers{
      float: none;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .imgLeftAnswers .answer{
      float: left;
    }

}

input[type="radio"]{
  display: none;
}

.question{ 
  border: 3px solid darkgray;
  border-radius:  0 5px 20px 20px;
  background-color: rgba(255,255,255, 0.9);
  
}

legend{
  border: 3px solid darkgray;
  border-radius: 10px 5px 5px 0;
  width: 50%;
  position: relative;
  left: -3px;
  background-color: rgba(70,160,70, 0.8);
  color: white;
  /*background-color: #4A4;*/
  padding-left: 5px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
    legend{
      width: 90%;
    }        
}


input:checked+label{
  background-color: #449D44;
  color: white;
}

input:checked{
  background-color: white;
}

img{
  box-shadow: 0px 3px 3px 3px  gray;
}
