body {
  background-image: url('../images/code.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron{
  text-align: center;
  position: relative;
  
  top: 100px;
}

#startButton{
  font-weight: bold;
  font-size: 200%;
}

#quizDiv{
  background-color: rgba(255,255,255,0.8);
  /*height: 3000px;*/
  top: 1000px;
  position: relative;
  padding-top: 20px;
}

.navbar-fixed-top{
  top: -100px; 
  padding-left: 50px;
  padding-right: 50px;
}

#timeDisplay{
  position: fixed;
  right: -200px;
  bottom: 0px;
  text-align: center;
  
}

.card-block{
  padding: 0;
}

.card-text{
  padding: 5px;
  margin: 0;
  font-size: 150%;
}
@media only screen and (max-width: 530px) {
    .nav{
      display: none;
    }       
    
}

@media only screen and (max-width: 1000px) {
    #progLabel{
      display: none;
    }        
    
}


@media only screen and (min-width: 1000px) {
    #progDiv{
      float: right;
      width: 70%;
      /*border: 1px solid red;*/
      height: 20px;
      padding: 0;
      padding-top: 5px;
      }
    
    #prog{
      width: 50%;
      float: right;
      padding-top: 6px;
      padding-right: 15%;
      /*border: 1px solid blue;*/
    }
    
    #progLabel{
      float: left;
      text-align: right;
      width: 29%;
      padding-right: 5px;
      /*border: 1px solid green;*/
    }
}

#navContent{
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (max-width: 1000px){
  #prog{
    padding-top: 50px;
  }
}